.news-item {
    text-align: center;

    > .heading {
        @extend %title-subtitle;
        margin-bottom: 20px;
    }

    > .video {
        @extend %video-poster;
    }

    > .more-button {
        @extend %button;
        margin-top: 20px;
    }
}
