$artwork-margin: 0;
$button-margin: 10px;
$button-width: 60px;
$image-size: 100px;
$images-per-page: 4;
$images: 20;
$button-height: 33px;

.top-song-list {

    @include position(relative);

    height: $image-size + $button-height + $button-margin;
    width: $button-width * 2 + $button-margin * 4 + $image-size * $images-per-page;

    %vertical-center {
        @include transform(translateY(-50%));
        @include position(absolute, $image-size / 2 null null);
    }

    %horizontal-center {
        @include margin(null auto);
    }

    %buttons {
        @extend %vertical-center;

        width: $button-width;
    }

    .next-button {
        @extend %buttons;

        right: $button-margin;
    }

    .back-button {
        @extend %buttons;

        left: $button-margin;
    }

    .randomize-button {
        @include position(absolute, $image-size + $button-margin null null 50%);
        @include transform(translateX(-50%));
    }

    .carousel-images-wrap {
        @extend %horizontal-center;
        @include size($image-size * $images-per-page $image-size);
        overflow: hidden;
    }

    ul {
        @extend %horizontal-center;

        @include row();
        @include transition(1s all);

        height: $image-size;
        list-style: none;
        padding-left: 0;
        width: $image-size * $images;

        @for $i from 0 through 10 {
            &[data-page="#{$i}"] {
                @include transform(translateX($i * -$images-per-page * $image-size));
            }
        }
    }

    .song {
        @include margin(null $artwork-margin);

        display: inline-block;
        padding-left: 0;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .artwork {
            @include size($image-size);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
