<div class="carousel-images-wrap">
    <ul></ul>
</div>
<button class="btn btn-primary back-button">back</button>
<button class="btn btn-primary next-button">next</button>
<button class="btn btn-success randomize-button">randomize order</button>
